input {
    /* background-color: azure; */
    border: none;
    outline: none;
    padding: 5px 10px;
}

input:focus {
    border: none;
    outline: none;
    transition: 0.5s;
    background-color: var(--secondary-color);
}

button {
    padding: 4px 10px;
    cursor: pointer;
}
