.keep-app {
    color: var(--primary-color);
}
.keep-header {
    padding: 15px;
    /* background-color: lightgrey; */
    /* display: grid;
    grid-template-columns: 30vw 1fr; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.note-list {
    column-count: 3;
    column-span: all;
    /* column-width: 300px; */
}

.note-container {
    /* background-color: rgb(187, 143, 143); */
    margin-inline-end: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

li {
}
.note {
    position: relative;
    margin: 2px;
    width: 320px;
    display: inline-block;
    /* --inline-margin: unset; */
    /* margin-inline-end: 20px;
    margin-block-end: 20px; */
    padding: 10px;
    /* margin-bottom: 20px; */

}

.note > img {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 25px;
    filter: brightness(45%);
}

.todo-done {
    text-decoration: line-through;
}



.note-tool-bar {
    display: none;
    padding: 5px;
    position: absolute;
    gap: 5px;
    bottom: 10px;
    right: 10px;
}

.note-tool-bar img {
    margin-left: 15px;
    height: 28px;
    width: 28px;
    filter: brightness(80%);
    cursor: pointer;
}

.note-tool-bar button {
    margin-inline-end: 0.5rem;
}
.note :hover .note-tool-bar {
    display: flex;
}

.note-text,
.note-video, 
.note-img, 
.note-todos{
    padding: 10px;
    /* border-radius: 10px; */
    background-color: rgb(20, 155, 20);
    font-size: 1.5em;
}

.note-text p {
    margin: 0;
    margin-bottom: 20px;
}

.note-todos p {
    margin: 0;
}

.note-img,
.note-video {
    background-color: rgb(230, 211, 211);
}
.note-text img, 
.note-img > img:not(:first-child), 
.note-video img, 
.note-todos img {
    height: 30px;
    filter: brightness(50%);
}

.my-active img{
    filter: brightness(50%);
}

.note-todos img.my-active {
    filter: brightness(40%);
}


.color-picker {
    position: absolute;
    z-index: 1;
    bottom: -20px;
    right:20px;
}
.color-picker > div {
    display: none;
    margin-inline-end: 2px;
    border: 1px solid gray;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.colors:hover .color-picker > div {
    display: inline-block;
}

.note-todos > div {
    border-bottom: 1px dashed gray;
}

.note-todos > div:last-of-type {
    border-bottom: 2px dashed gray;
    margin-bottom: 20px;
}
.note-img > img:first-child {
    width: 100%;
}

.note-add {
    margin: 5px auto;
    max-width: 70vw;
    padding: 10px;
    /* border-radius: 10px; */
    background-color: #fff;
}

.note-add input{
    flex-grow: 1;
    height: 50px;
    font-size: 1.5rem;  
    font-weight: 700;
    color: rgb(47, 47, 47);
}

.keep-filter {
    margin: 0 auto;
    width: 300px;
}
.keep-filter input,select{
    border: none;
    /* border-radius: 10px; */
    height: 50px;
    font-size: 1.2rem;  
    font-weight: 700;
    color: rgb(47, 47, 47);
}

.note-add button {
    height: 40px;
    margin-inline-start: 30px;
    margin-block-start: 10px;
    background-color: #fff;
  
}
.note-add img {
    height: 100%;
    width: unset;  
}

.note-edit {
    position: absolute;
    max-width: 30vw;
    right: 300px;
    bottom: 100px;
    background-color: rgb(187, 168, 168);
    transform: translateX(-300px);
    /* transform: translateY(-300px); */

}

.white {
    background-color: #fff;
} 
.lightpink {
    background-color: lightpink;
} 
.lightsalmon{
    background-color: lightsalmon;
} 
.yellow{
    background-color: yellow;
} 
.lightgreen{
    background-color: lightgreen;
} 
.lightblue{
    background-color: lightblue;
} 
.lightskyblue{
    background-color: lightskyblue;
} 
.blue{
    background-color: blue;
} 
.purple{
    background-color: rgb(158, 47, 149);
} 
.lightgray{
    background-color: lightgray;
}

@media (max-width: 850px) {
    .note-add {
        flex-direction: column;
    }
    .note-add > input {
        text-align: center;
    }
    .note-add > div {
        margin: 0 auto;
    }
    .keep-header {
        display: flex;
        flex-direction: column;    
    }
    .keep-header > section {
        align-self: center;
    }
}

@media (max-width: 1000px) {
    .note-add {
        max-width: 85vw;
    }
}