/* .keep-app {
    position: relative;
} */


.note-list {
    column-count: 3;
}

.note-container {
    /* background-color: rgb(187, 143, 143); */
    margin-inline-end: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.note {
    position: relative;
    width: 300px;
    /* height: 400px; */
    display: inline-block;
    --inline-margin: unset;

}

.todo-done {
    text-decoration: line-through;
}

.my-active img{
    filter: brightness(60%);
}


.note-tool-bar {
    display: none;
    padding: 5px;
    position: absolute;
    gap: 5px;
    bottom: 0;
    right: 0;
}

.note-tool-bar img {
    width: 30px;
    filter: brightness(50%);
}

.note-tool-bar button {
    margin-inline-end: 0.5rem;
}
.note-container:hover .note-tool-bar {
    display: flex;
}

.note-text,
.note-todos, 
.note-img, 
.note-todos{
    padding: 10px;
    background-color: rgb(129, 102, 102);
    font-size: 1.5em;
}

.note-text p {
    margin: 0;
    margin-bottom: 20px;
}

.note-todos p {
    margin: 0;
}

.note-img,
.note-video {
    background-color: rgb(230, 211, 211);
}
.note-text img, 
.note-img img > :not(:first-child), 
.note-video img, 
.note-todos img {
    height: 30px;
}
.color-picker {
    position: absolute;
    bottom: -10px;
    right:20px;
}
.color-picker > div {
    display: none;
    margin-inline-end: 2px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.colors:hover .color-picker > div {
    display: inline-block;
}

.note-todos > div {
    border-bottom: 1px dashed gray;
}

.note-todos > div:last-of-type {
    border-bottom: 2px dashed gray;
    margin-bottom: 20px;
}
.note-img > img:first-child {
    width: 100%;
}

.note-add {
    margin: 5px auto;
    max-width: 50vw;
    background-color: #fff;
}

.note-add input{
    flex-grow: 1;
    height: 50px;
    font-size: 1.2rem;  
    font-weight: 700;
}
.keep-filter    input,select{
    height: 50px;
    font-size: 1.2rem;  
    font-weight: 700;
}
.note-add button {
    height: 50px;
    background-color: #fff;
  
}
.note-add img {
    height: 100%;
    width: unset;  
}

.note-edit {
    position: absolute;
    max-width: 30vw;
    right: 300px;
    bottom: 100px;
    background-color: rgb(187, 168, 168);
    transform: translateX(-300px);
    /* transform: translateY(-300px); */

}