.note-list {
    column-count: 3;
    column-span: all;
}

.note {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 320px;
    display: inline-block;
    padding: 10px;
}

.note>img {
    position: absolute;
    top: 0px;
    right: 5px;
    width: 25px;
    filter: brightness(45%);
}

.note-text, .note-video, .note-img, .note-todos {
    padding: 10px;
    background-color: rgb(20, 155, 20);
    font-size: 1.5em;
}

.note-text img, .note-img>img:not(:first-child), .note-video img, .note-todos img {
    height: 30px;
    filter: brightness(50%);
}