.email-main {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 15px;
    margin: 0 15px;
}
.email-search {
    margin: 20px auto;
    width: 50vw;
}
.email-search input {
    height: 36px;
    width: 100%;
}

.emails-list-top {
    padding: 10px;
    font-weight: bold;
}