.emails-list-top {
    padding: 10px;
    font-weight: bold;
}

.email-list h5 {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 ;
}

.email-list button {
    color: var(--secondary-color);
    background-color: var(--bold-color);
}
.email-list button:hover {
    background-color: var(--bold-color-hover);
}