.about-page {
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-page p {
    margin: 0 20px;
    color: var(--primary-color);
    line-height: 1.7rem;
}
.founders {
    margin: 0 auto;
}

.founder {
    text-align: center;
}

.round {
    width: 25vw;
    height: 25vw;
    max-width: 300px;
    max-height: 300px;
    background-color: var(--alt-color2);
    border-radius: 50%;
    border: 2px solid var(--bold-color);
    overflow: hidden;
    margin: auto;
}

.round img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s;
}

.round img:hover{
    filter:brightness(85%);
}

@media (max-width: 600px) {
    .about-top {
        flex-direction: column;
    }
    .founders {
        flex-direction: column;
    }
    .founder {
        margin-bottom: 20px;
    }
    .round {
        width: 50vw;
        height: 50vw;
    }
}