
.top-nav {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.top-nav span {
    font-weight: bold;
    font-size: 1.2rem;
    margin-inline-end: 20px;
    align-self: center;
}
.top-nav ul {
    padding: 0;
    margin: 0 0 0 var(--inline-margin);
    list-style-type: none;
}
.top-nav a {
    font-size: 1.1rem;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}
.top-nav a:visited {
    color: inherit;
}
.top-nav a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.top-nav li {
    margin-inline-end: 10px;
}

h1 {
    color: var(--primary-color);
    margin-inline-start: var(--inline-margin);
    font-size: 2rem;
    margin-bottom: 10px;
}
h2 {
    text-transform: uppercase;
    margin: 10px var(--inline-margin) 5px;
}
h4 {
    /* margin: 0px var(--inline-margin) 30px; */
}

input[type="range"] {
    height: 0;
}
.book-filter {
    margin: var(--inline-margin);
    padding: 10px;
    background-color: var(--primary-color);
}
.book-filter input {
    margin-inline-start: 10px;
}
.book-filter label {
    font-weight: bold;
    font-size: .8rem;
    color: var(--secondary-color);
}
.book-list {
    flex-wrap: wrap;
}

.book-item {
    position: relative;
    flex-direction: column;
    text-transform: capitalize;
    margin: var(--inline-margin);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 30vh;
    width: 20vw;
    min-width: 125px;
}
.book-item.selected {
    background-color: rgba(0, 0, 0, 0.9);
}
.book-item span {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    padding: 10px;
    font-size: 0.8rem;
    align-self:flex-end;
}
.book-item h3 {
    display: inline-block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    padding: 10px;
    margin: 0 auto;
}
.book-item img {
    position: absolute;

    width: 100%;
    height: 100%;
    object-fit: cover;
}
.book-details {
    position: relative;
    margin: var(--inline-margin);
    padding: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 80vw;
    min-width: 300px;
    max-width: 600px;
}
.book-details .sale {
    display: inline-block;
    padding: 4px 12px;
    position: absolute;
    top: 22px;
    right: 72px;
    border-radius: 0 10px;
    transform: rotate(-15deg);
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(223, 0, 0);
    color: rgb(250, 255, 209);
}
.book-details p {
    font-size: 0.9rem;
    padding: 5px;
    margin-inline-start: var(--inline-margin);
    max-width: 450px;
}
.book-details img {
    position: absolute;
    top: 30px;
    right: 20px;
    height: 150px;
}
.book-tags span,
.book-tags-inv span {
    text-transform: uppercase;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 500;
    font-size: 0.7rem;
    letter-spacing: 0.4px;
    padding: 2px 10px;
    border-radius: 9px;
}
.book-tags-inv {
    margin-top: 20px;
    padding: 5px;
    justify-content: flex-end;
}
.book-tags-inv span {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}
.read-more {
    margin-inline-start: calc(var(--inline-margin) * 1.5);
    font-size: 0.8em;
    cursor: pointer;
}
.read-more::after {
    content: "...";
}
.read-more:hover {
    text-decoration: underline;
}

.book-review {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 80vw;
    max-width: 800px;
}
.book-review h2 {
    padding-top: 20px;
}
.book-review .top-line {
    display: flex;
    justify-content: start;
}
.input[type="textarea"] {
    margin-bottom: 30px;
    display: block;
}

.review-item {
    position: relative;
    color: var(--primary-color);
    padding: 5px;
    margin-inline-end: 10px;
    border: 2px solid var(--primary-color);
}
.btn-del {
    z-index: 2;
    transition: .2s;
    /* border: 1px solid var(--secondary-color); */
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: absolute;
    top: -10px;
    right: -10px;
}
.btn-del:hover {
    color: var(--primary-color);
    background-color:var(--secondary-color);
    font-weight: bold;
}
.review-item span {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 3px 7px;
    font-size: 0.8rem;
}
.review-item h4 {
    margin-bottom: 5px;
}
